[user]
	name = Nikky Southerland
	email = nikky@uw.edu 
[core]
  editor = vim
[mergetool "meld"]
	cmd = meld
	trustExitCode = true
[merge]
	tool = meld
[github]
	user = allynfolksjr
[color]
	ui = auto
[alias]
  b = branch
  co = checkout
  ci = commit
  dc = diff --cached
  st = status
  pu = remote update --prune
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

